@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Ubuntu&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  margin: 0px;
  color: #265073;
  font-weight: 100;
}
