.main {
  background-image: linear-gradient(130deg, #fcfff3);
  min-height: 100vh;
}

.navbar {
  background-color: #9ad0c2;
  position: relative;
  width: 100wv;
  height: 84px;
  border-bottom: #265073 2px solid;
}

.burgerLine {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #265073;
  border-radius: 2px;
}
.Line1 {
  top: 6px;
}
.Line2 {
  top: 16px;
}
.Line3 {
  top: 26px;
}

.burgerMenu {
  position: absolute;
  width: 40px;
  height: 26px;
  margin-top: 24px;
  margin-left: 15px;
  transition: 0.2s ease-in-out;
}

.burgerMenu:hover {
  width: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.heading {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: auto;
  text-align: center;
}

.menu {
  background-color: #9ad0c2;
  position: absolute;
  top: 86px;
  width: max-content;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  border-bottom: #265073 2px solid;
  border-right: #265073 2px solid;
}

.link {
  display: block;
  font-size: x-large;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.link:hover {
  color: #2d9596;
}

.hidden {
  display: none;
}

.postPreview {
  padding: 20px;
  margin-top: 30px;
  border: #265073 solid 2px;
  border-radius: 8px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.postTitle {
  margin-bottom: 10px;
  border-bottom: #265073 solid 2px;
}

.postParagraph {
  margin-bottom: 8px;
}

.postLink {
  text-decoration: none;
  font-weight: 600;
}

.postLink:hover {
  color: #2d9596;
}

.mainParagraph {
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.linkContainer {
  display: grid;
  grid-template-columns: 1;
  row-gap: 20px;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* display: inline-block; */
  font-size: xx-large;
}
